<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">



    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <link type="text/css" rel="stylesheet" href="css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MercadoLiebres</title>

</head>
<body>

    <header class="main-header">

                
            <div class="main-header-top-bar">
                <i><a href="/home"><img src="images/logo-mercado-liebre.svg" alt="Logo" class="responsive-logo"></a></i>
                
                <form class="form-searchbar" method="POST" action="/">

                <i><input type="text" required pattern=".{3,100}" placeholder="Que estas buscando?" name="searchbar" id="searchbar">
                    <button class="boton-buscar" type="submit" ><i class="fas fa-search"></i></button></i>
            </form>
                <i><h2 class="c-cuotas-tablet"> <i class="fas fa-hand-holding-usd"> </i> 
                    Comprá en cuotas y sin tarjeta de crédito</h2 ></i>

      
            </div>

            <h2 class="c-cuotas-mobile"> <i class="fas fa-hand-holding-usd"> </i> 
                Comprá en cuotas y sin tarjeta de crédito</h2 >


        <nav class="main-navbar">
            <ul class="left-navbar">
                
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            
            </ul>
            
            <ul class="right-navbar">
            
                <li><a href="/register">Crea tu cuenta <i class="far fa-user-circle"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            
            </ul>
        </nav>

             <p>
            <div class="burger-menu">
                
                <i class="fas fa-bars"></i>
            
            </div>
            </p>
    </header>
    <section>
    <img  src="images/img-home-banner.jpg" alt="banner" class="logo-fiestas">
    </section>
    <main>

        <section name="Basado en tu última visita">
            
            <h3 class="ultima-visita"> Basado en tu última visita</h3>

            <div class="box-articulos">
            <article>
                
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="responsive">
                <div class= "div-detalles-articulo">
                    <div class="logo-envio">
                      <i class="fas fa-shipping-fast"></i>
                     </div>
                     <div class="precio-descuento">
                    <h3 class="precio">$6.770</h3>
                    <h3 class="descuento">40% Off</h3>
                    </div>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                 </div>
                 
            </article>
            
            <article>
                
                <img src="images/img-macbook-pro-2019.jpg" alt="Macbook" class="responsive">
                
                <div class= "div-detalles-articulo">
                    <div class="logo-envio">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="precio-descuento">
                    <h3 class="precio">$230.000</h3>
                    <h3 class="descuento">20% Off</h3>
                    </div>
                    <h4 class="descripcion">Macbook Pro 2019</h4>
                </div>

            </article>

            <article>
                
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Celular" class="responsive">
                <div class= "div-detalles-articulo">
                <div class="logo-envio">
                <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="precio-descuento">
                <h3 class="precio">$70.500</h3>
                <h3 class="descuento">41% Off</h3>
                </div>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>

            </article>

            <article>

                <img src="images/img-tv-samsung-smart.jpg" alt="SmartTV" class="responsive">
                <div class= "div-detalles-articulo">
                <div class="logo-envio">
                <i class="fas fa-shipping-fast"></i>
                </div>
                <div class="precio-descuento">
                <h3 class="precio">$23.200</h3>
                <h3 class="descuento">5% Off</h3>
                </div>
                <h4 class="descripcion">Smart TV Samsung 43'</h4>
                </div>

            </article>
            </div>


         </section>

         <section name="Ofertas">

            <h3>Ofertas</h3>

            <div class="box-articulos">

            <article>
                
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="responsive">
                <div class= "div-detalles-articulo">
                <div class="logo-envio">
                    <i class="fas fa-shipping-fast"></i>
                   </div>
                <div class="precio-descuento">
                <h3 class="precio">$6.770</h3>
                <h3 class="descuento">40% Off</h3>
                </div>
                <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>

            </article>
        
            <article>
                
                <img src="images/img-macbook-pro-2019.jpg" alt="Macbook" class="responsive">
                <div class= "div-detalles-articulo">
                <div class="logo-envio">
                    <i class="fas fa-shipping-fast"></i>
                   </div>
                <div class="precio-descuento">
                <h3 class="precio">$230.000</h3>
                <h3 class="descuento">20% Off</h3>
                </div>
                <h4 class="descripcion">Macbook Pro 2019</h4>
                </div>

            </article>

            <article>
                
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Celu" class="responsive">
                <div class= "div-detalles-articulo">
                <div class="logo-envio">
                    <i class="fas fa-shipping-fast"></i>
                   </div>
                <div class="precio-descuento">
                <h3 class="precio">$70.500</h3>
                <h3 class="descuento">41% Off</h3>
                </div>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>

            </article>

            <article>
                
                <img src="images/img-tv-samsung-smart.jpg" alt="SmartTV" class="responsive">
                <div class= "div-detalles-articulo">
                <div class="logo-envio">
                    <i class="fas fa-shipping-fast"></i>
                   </div>
                <div class="precio-descuento">
                <h3 class="precio">$23.200</h3>
                <h3 class="descuento">5% Off</h3>
                </div>
                <h4 class="descripcion">Smart TV Samsung 43'</h4>
                </div>

            </article>
            </div>

         </section>
        

    </main>

    <footer>

        <div class="footer-flex">

        <div class="tarjeta-footer">
         <i class="fas fa-credit-card"></i>

            <article class=article-footer>

                <b>Pagá con tarjeta o en efectivo</b><br>
                <small>Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</small>
           
            </article>
        </div>

            <div class="regalo-footer">
            
                <i class="fas fa-gift"></i>


             
            <article class=article-footer>

                <b>Envíos gratis desde $2.500</b><br>
                <small>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</small>            
            
            </article>

        </div>
            <div class="usuario-footer">
            <i class="fas fa-user-shield"></i>

            <article class=article-footer><b>Seguridad, de principio a fin</b><br>

                <small>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</small>
                
            </article>
        </div>

         </div>
            
            <br>
            
            <article class=article-copyright><h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4></article>



    </footer>

</body>

</html>